<!doctype html>
{% if user.is_authenticated %}
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <title>SocialSomething</title>
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" >
<link rel="shortcut icon" type="image/ico" href="{% static 'singicon.ico' %}">

</head>
<body>

	<header>
		<h2><a href="#">SocialSomething</a></h2>
		<nav>
			<li><a href="#">News</a></li>
			<li><a href="{% url 'profile' %}">Profile</a></li>
			<li><a href="#">About</a></li>
			<li><a href="{% url 'logout' %}">Exit</a></li>
		</nav>
	</header>


	<section class="hero">
		<div class="background-image" style="background-color: white;"></div>
		<h1>When Habr fucked Instagram.</h1>
		<h3>You can post something.</h3>
		<a href="" class="btn">Read tutorial</a>
	</section>


	<section class="our-work">
		<h3 class="title">Some of our work</h3>
		<p>Make your own style and character. This is not the slogan of the Coca-Cola company, this is something that you once kept silent about. Now say it loudly and with pride.</p>
		<hr>

		<ul class="grid">
			<li class="small" style="background-image: url(static/coast.jpg);"></li>
			<li class="large" style="background-image: url(static/island.jpg);"></li>
			<li class="large" style="background-image: url(static/balloon.jpg);"></li>
			<li class="small" style="background-image: url(static/mountain.jpg);"></li>
		</ul>
		</div>
	</section>


	<section class="features">
		<h3 class="title">Features and services</h3>
		<p>Here you can express your damn opinion, back it up with a photo and hard text. The application gives you the opportunity to paint your idea!</p>
		<hr>

		<ul class="grid">
			<li>
				<i class="fa fa-camera-retro"></i>
				<h4>Photography</h4>
				<p>Add a photo, as well as a watermark. Your account will be filled with beautiful pictures with text themes.</p>
			</li>
			<li>
				<i class="fa fa-cubes"></i>
				<h4>Text</h4>
				<p>Text is your weapon. Write a topic in which you can prove that you are not a piece of shit.</p>
			</li>
			<li>
				<i class="fa fa-newspaper-o"></i>
				<h4>Account</h4>
				<p>The account will reflect your personality. Make it cool. Do not forget your password and come here every day.</p>
			</li>
		</ul>
		</div>
	</section>



	<section class="contact">
		<h3 class="title">Join our newsletter</h3>
		<p>Write your email and receive newsletter and updates.</p>
		<hr>

		<form>
			<input type="email" placeholder="Email">
			<a href="#" class="btn">Subscribe now</a>
		</form>
	</section>

	<footer>
		<ul>
			<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
			<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
			<li><a href="#"><i class="fa fa-snapchat-square"></i></a></li>
			<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
			<li><a href="#"><i class="fa fa-github-square"></i></a></li>
		</ul>
		<p>Made by SocialSomething. Do something cool every day.</p>
		<p></p>
	</footer>

</body>
</html>
{% else %}
<h1>Перейдите к форме sign и авторизуйтесь</h1>
{% endif %}