{% extends 'main/sign.html' %}
{% block content %}
  <div class="container2">
    <form class="decor">
  <div class="form-left-decoration"></div>
  <div class="form-right-decoration"></div>
  <div class="circle"></div>
  <div class="form-inner">
    <h3>Registration</h3>
      <input type="text" placeholder="Username">
      <input type="text" placeholder="Email">
      <input type="password" placeholder="Password">
      <input type="password2" placeholder="Confirm password">
    <div class="buttons">
        <input class="right-button" type="submit" value="Register">
    </div>
  </div>
</form>
</div>
{% endblock %}