
<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    
    <title>SocialSomething</title>
<link rel="stylesheet" type="text/css" href="{% static 'single.css' %}" >
<link rel="shortcut icon" type="image/ico" href="{% static 'singicon.ico' %}">

<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym");

   ym(23928760, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
</head>


<body>
{% block content %}
<div class="container">


    <form class="decor">
  <div class="form-left-decoration"></div>
  <div class="form-right-decoration"></div>
  <div class="circle"></div>
  <div class="form-inner">
    <h3>Social something</h3>
    <input type="text" placeholder="Username">

   <input type="password" placeholder="Password">
    <div class="buttons">
        <input class="left-button" type="submit" value="Sign in">
        <input class="right-button" type="submit" value="Register">
    </div>
  </div>
</form>
</div>
{% endblock %}
</body>


</html>