*{box-sizing:border-box}
body {margin: 0;}
.top {
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  box-shadow: 1px 0 3px rgba(0,0,0,.3);
}
.top a {
  text-decoration: none;
  outline: none;
  font-size: 13px;
  text-transform: uppercase;
  font-family: Cambria, Georgia, serif;
  letter-spacing: 1px;
  color: #333;
  display: inline-block;
  font-weight: bold;
}
.container {
  padding: 0 20px;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 25vh ;
}
.container2 {
  padding: 0 20px;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 20vh ;
}

header {text-align: center;}
header h1 {
    margin-bottom:0;
  font-size: 2em;
  font-family: 'Poiret One', cursive;
  color: #524f4e;
  font-weight: 300;
}
header h1 span {font-weight: 700}
nav {margin-top: 90px}
nav a {
  text-decoration: none;
  outline: none;
  font-family: 'Poiret One', cursive;
  font-size: 13px;
  color: #524f4e;
  display: inline-block;
  margin-right: 10px;
  padding-bottom:5px;
  border-bottom:1px solid rgba(255,255,255,0);
  transition: .2s linear;
}
nav a:last-child {margin-right:0;}
.current-demo, nav a:hover {border-color: inherit;}
@media(max-width:480px){.container{padding:0;}}

body {background: #00FF7F}


.decor {
  position: relative;

  max-width: 400px; margin: 50px auto 0;
  background: white;
  border-radius: 30px;
}
.form-left-decoration,
.form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background: #00FF7F;
  border-radius: 20px;
}
.form-left-decoration {
  bottom: 60px;
  left: -30px;
}
.form-right-decoration {
  top: 60px;
  right: -30px;
}
.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: white;
}
.form-left-decoration:before {top: -20px;}
.form-left-decoration:after {
  top: 20px;
  left: 10px;
}
.form-right-decoration:before {
  top: -20px;
  right: 0;
}
.form-right-decoration:after {
  top: 20px;
  right: 10px;
}
.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
}
.form-inner {padding: 50px;}
.form-inner input {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  outline: none;
}
.form-inner input:hover {background: #3CB371;}
.form-inner input[type="submit"]  {
  margin-top: 30px;
  background: #00FF7F;

  color: white;
  font-size: 14px;
}

.form-inner input[type="submit"]:hover {background: #3CB371;}
.form-inner input[type="submit"]:active { background: #2E8B57; }

.form-inner h3 {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #707981;
}
@media(max-width:480px){
.form-left-decoration,
.form-right-decoration,
.circle {display: none;}
.form-inner{padding: 30px 20px;}
.form-inner h3{text-align:center;}
}
.buttons{
display: flex;
}
.right-button{
text-decoration: none;
}
.left-button {
margin-right: 10px;
}
